     * {
        margin: 0;
        padding: 0;
      }

      #select-color-modal {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.671);
        justify-content: center;
        align-items: center;
      }

      .Content-modal {
        background: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        position: relative;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      button {
        width: 200px;
        height: 200px;
        border-radius: 8px;
        color: white;
      }

      #changeColor {
        color: black;
      }

      #close {
        position: absolute;
        top: 8px;
        right: 12px;
        font-size: 22px;
        cursor: pointer;
      }

      nav {
        height: 60px;
        background: rgb(121, 79, 79);
        display: flex;
        align-items: center;
      }

      #sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #222;
        overflow-x: hidden;
        transition: 0.5s;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 60px;
      }

      #sidebarMenu{
        height: 60px;
        color: black;
      }

      #sidebar a {
        color: white;
        text-decoration: none;
        padding-left: 20px;
      }

      #close_side {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 26px;
        cursor: pointer;
      }